# Dependencies
/node_modules

# Environment variables
.env

# Local binaries (downloaded by postinstall script)
/bin

# Temp files
/temp

# Windows Executables (for local development)
yt-dlp.exe
ffmpeg.exe

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*